.bar_drink {
  position:relative;
  width: 96%;
  height: 80px;
  border-radius: 5px;
  background: rgb(32, 32, 32);
  border-radius: 10px;
  border-color: rgb(66, 66, 66);
  border-style: solid;
  filter: drop-shadow(0 0 0.5rem black);
  margin: 10px 0;
  padding: 20px;
  transform: translate(2%, 0);
  overflow: hidden;
}

#drink_list {
  width: 100%;
  margin-top: 10px;
}

.new-order-name {
  position: absolute;
  left: 20px;
}

.new-order-price {
  position: absolute;
  right: 20px;
}

.liquorish-footer {
  display:flex;
  padding: 10px;
}

#saved-drinks-btn {
  flex-grow: 1;
  margin-right: 10px;
}