
#dashboard {
    display: flex;
    flex-direction: column;
}

#bar_head {
    position: relative;
    flex-grow: 3;
    width: 100%;
    background: red;
}

#tab_pay {
    position: relative;
    flex-grow: 1;
    width: 100%;
    height: 100px;
    background: blue;
}

#tab_list {
    flex-grow: 1;
    width: 100%;
    background: green;
}

#add_item_to_order {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 100;
}